:root {
    --orange: #E76F51;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

/*========================================*/

.header {
    background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images/header-bg.jpg") center;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
}

.app-logo {
    display: block;
    width: 5rem;
    height: 5rem;
}

.app-logo__img {
    width: 100%;
}

.menu {
    display: none;
}

.menu__item {

}

.menu__link {

}

.nav-menu {
    display: none;
}

.mobile-menu {

}

.mobile-menu__item {

}

.mobile-menu__link {

}

.nav-menu__links {

}

.nav-menu__link {

}

.header__links {
    display: none;
}

.header__link {

}

.header__link--border {

}

.nav__btn {
    background-color: #FFFFFF;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__btn-line {
    position: relative;
    display: block;
    background-color: var(--orange);
    width: 2.5rem;
    height: 0.3rem;
    border-radius: 2rem;
    transition: all 0.2ms ease;
}

.nav__btn-line::before,
.nav__btn-line::after {
    content: " ";
    display: block;
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background-color: var(--orange);
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
}

.nav__btn-line::before {
    top: 0.75rem;
}

.nav__btn-line::after {
    bottom: 0.75rem;
}

.nav__btn--open .nav__btn-line::before {
    transform: translateY(-8px) rotate(45deg);
}

.nav__btn--open .nav__btn-line {
    background-color: transparent;
}

.nav__btn--open .nav__btn-line::after {
    transform: translateY(8px) rotate(-45deg);
}