@media (min-width: 350px) {
    .header__content-title {
        font-size: 4rem;
    }

    .destinations__title {
        font-size: 2.4rem;
    }

    .newsletter__caption {
        width: 30rem;
    }

    .newsletter__email-box {
        margin: 2rem 1rem;
    }

    .newsletter::before {
        width: 38rem;
    }
}

@media (max-width: 576px) {
    .newsletter::before {
        width: 76rem;
    }
}

@media (min-width: 576px) {
    .newsletter__caption {
        width: 35rem;
    }

    .newsletter__email-box {
        margin: 4rem 5rem;
    }

    .newsletter::before {
        width: 63rem;
    }
}

@media (min-width: 768px) {
    .header__content-title {
        font-size: 5rem;
    }

    .newsletter {
        flex-direction: row;
    }

    .newsletter__content,
    .newsletter__banner {
        max-width: 50%;
    }

    .newsletter__title {
        font-size: 3rem;
        width: auto;
        padding: 4rem 2rem;
        text-align: left;
    }

    .newsletter__caption {
        width: 35rem;
        padding: 0 1.5rem;
        text-align: left;
    }

    .newsletter__email-box {
        margin: 4rem 0 4rem 1.5rem;
    }

}

@media (min-width: 992px) {
    .menu {
        display: flex;
        align-items: center;
    }

    .nav__links {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .nav__btn {
        display: none;
    }

    .menu__link {
        font-size: 16px;
    }

    .nav__link--border {
        padding: 10px 30px;
    }

    .nav-menu {
        display: none;
    }

    .newsletter::before {
        left: -45px;
        width: 78rem;
    }

    .newsletter__caption {
        width: 66rem;
    }

    .footer__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer-app {
        display: block;
    }

    .footer-app--mobile {
        display: none;
    }

    .footer__left {
        max-width: 40rem;
    }

    .footer__scroll {
        left: 70rem;
    }
}

@media (min-width: 1200px) {
    .newsletter {
        justify-content: space-around;
    }

    .footer__left {
        max-width: 51rem;
    }

    .footer__scroll {
        left: 90rem;
    }
    .newsletter::before {
        left: -45px;
        width: 85rem;
    }
}

@media (min-width: 1400px) {
    .footer__left {
        max-width: 60rem;
    }

    .footer__scroll {
        left: 100rem;
    }
}