@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .menu {
        display: flex;
        align-items: center;
    }

    .nav__links {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .nav__btn {
        display: none;
    }

    .menu__link {
        font-size: 16px;
    }

    .nav__link--border {
        padding: 10px 30px;
    }
    .nav-menu  {
        display: none;
    }
}

@media (min-width: 1200px) {


}

@media (min-width: 1400px) {

}